body {
    background-color: grey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    flex-direction: column;
    min-height: auto;
}
.card{
    display: flex;
    justify-content: space-evenly;
}
h1 {
    text-align: center;
    color: pink;
    font-size: 40px;
    padding: 10;
}
h2 {
    color: cornflowerblue;
}